$color-main: #bc9c72;
$color-white: #fff;
$color-black: #000;
$color-black-anima: #181818;
$color-grey: #c2c2c2;
$color-grey-dark: #181818;


.NavBar {
  height: 100vh;
  width: 250px;
  position: fixed;
  padding: 1.5rem;
  background: #181818;
  #logo {
    width: 100px;
    object-fit: cover;
    margin-bottom: 50px;
  }
  .NavBar-block {
    margin-bottom: 30px;
    .NavBar-block_title {
      margin-bottom: 15px;
      font-size: 12px;
      text-transform: uppercase;
      color: $color-grey;
    } 
    .NavBar-block_element {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &.active {
        color: $color-main;
        .NavBar-block_link {
          color: $color-main;
        } 
        &::before{
          content: '';
          left: -1.5rem;
          position: absolute;
          height: 100%;
          width: 2px;
          background: $color-main;
          border-radius: 5px;
        }
      }
      .NavBar-block_linkIcon {
        width: 20px;
      }
      .NavBar-block_link {
        display: block;
        margin-left: 10px;
        color: $color-white;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}