$color-main: #bc9c72;
$color-white: #fff;
$color-black: #000;
$color-black-anima: #181818;
$color-grey: #c2c2c2;
$color-grey-dark: #181818;

.Profile {
  .Profile-inventory{
    display: flex;
    justify-self: unset;
    .Profile-inventory-info {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: $color-main;
        margin-bottom: 10px;
      }

    }
    .Profile-inventory-block {
      width: 65%;
      border-radius: 7px;
      border: 1px solid $color-main;
      padding: 40px;
      text-align: center;
      h5 {
        text-align: center !important;
        margin-bottom: 10px;
      }
      .btn-anima {
        display: inline-block;
        margin-top: 15px;
      }
    }
  }
  .Profile-inventory-saved {
    h5 {
      margin-bottom: 15px;
    }
    .NFT-saved-Block {
      display: flex;
      flex-wrap: wrap;
    }
    .nft {
      width: 240px;
      height: 240px;
      position: relative;
      background: $color-main;
      margin-bottom: 25px;
      margin-right: 25px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}