.Footer {
  .Footer-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    #logo {
      width: 100px;
      object-fit: cover;
      object-fit: contain;
    }
    .social-icons {
      width: 100px;
      object-fit: contain;
    }
  }
}  
