$color-main: #bc9c72;
$color-white: #fff;
$color-black: #000;
$color-black-anima: #101010;
$color-grey: #c2c2c2;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-black-anima;
  height: 2000px;
}

h1, h2, h3, h4, span, p, label {
  color: $color-white;
  font-family: 'Mulish', sans-serif;
  margin: 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Philosopher', sans-serif;
}

h2 {
  margin-bottom: 15px;
}

p {
  margin: 0;
  padding: 0;
}

.anima-container {
  width: calc(100% - 250px);
  margin-left: 250px;
  background: $color-black-anima;
}

.user-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.anima-container-page {
    max-width: 1200px;
}

.user-block {
  width: 400px;
}

.separator {
  height: 2px;
  background: $color-main;
}


// Buttons

button {
  border: none
}

.btn-anima {
  background: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: $color-main;
  color: $color-white;
  text-transform: uppercase;
  transition: 0.3 ease;
  &:hover {
    transform: translateY(-5px)
  }
}

.link-anima {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  color: $color-white;
  position: relative;
  border: none;
  background-color: transparent;
  border-radius: 25px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: $color-main;
    transition: 0.3s ease;
  }
  &:hover {
    color: $color-white;
   &::before {
      width: 100%;
    }
  }
}

// Sections 

.anima-section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 5%;
}
